<a href="https://colab.research.google.com/github/yeunlee1/portfolio/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 변수

In [ ]:
name = "이연"
age = 37

In [ ]:
print(
    "안녕하세요 {} 님! 올해 나이는 {} 세 입니다".format(name, age)
)

안녕하세요 이연 님! 올해 나이는 37 세 입니다

In [ ]:
player_id = "캡틴 코리아"
player_level = 10
player_exp = 5000

# 새로운 경험치 추가
new_exp = 1000
player_exp += new_exp


print(
    "전투가 {}님, 레벨 : {} / 총 경험치 : {}".format(player_id,player_level, player_exp)
)

전투가 캡틴 코리아님, 레벨 : 10 / 총 경험치 : 6000

### 자료구조

In [ ]:
fruits = ['사과', '골드키위', '토마토']
print(
    fruits
)

['사과', '골드키위', '토마토']

In [ ]:
#딕셔너리
student = {
    "이름" : "이연",
    "학년" : 15,
    "과목" : ["수학", "과학", "역사"]
}

print(student['이름'])

이연

### 제어문

In [ ]:
age = 28
if age >= 18 :
  print("성인")
else :
    print("미성년자")

성인

In [ ]:
for i in range(2,5) :
  for j in range(1,10) :
    print(i, "x", j, "=", i*j)

  print()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

### 연산자

In [ ]:
a = 10
b = 5

add = a+b
sub = a-b
mul = a*b
div = a/b

In [ ]:
sub

5

In [ ]:
x = True
y = False

result_and = x and y
result_or = x or y
result_not = not x

print(result_not)

False

In [ ]:
is_sunny = True
is_warm = True

if is_sunny and is_warm :
  print("날씨가 좋아요")
else :
  print("날씨가 좋지 않아요")

날씨가 좋아요

In [ ]:
def greet(name) :
  print("안녕하세요 {}님! 환영합니다.".format(name))


greet("이연")
greet("이연")
greet("이연")
greet("이연")

안녕하세요 이연님! 환영합니다.
안녕하세요 이연님! 환영합니다.
안녕하세요 이연님! 환영합니다.
안녕하세요 이연님! 환영합니다.

In [ ]:
def calculate_area(radius) :
  pi = 3.14159265
  area = pi * (radius ** 2)
  return area

r=10
calculate_area_r = calculate_area(r)

print("반지름이", r, "인 원의 넓이는", calculate_area_r, "입니다.")

반지름이 10 인 원의 넓이는 314.159265 입니다.

###예외처리

In [ ]:
try :
  number = int( input ("정수를 입력하세요 : " ))
  result = 10 / number
  print(f"결과는 {result}")

except Exception as error :
  print(f"오류가 발생했습니다. : {error}")

정수를 입력하세요 : 1a
오류가 발생했습니다. : invalid literal for int() with base 10: '1a'

In [1]:
def div(x,y) :
  try :
    result = x / y
  except ZeroDivisionError :
    result = "무한대"
  except Exception as e :
    result = "오류: "  + str(e)
  finally :
    print("연산종료")
  return result


result1 = div(10,2)
result2 = div(10,0)
result3 = div(10,"apple")

연산종료
연산종료
연산종료

In [4]:
result3

"오류: unsupported operand type(s) for /: 'int' and 'str'"

### 모듈과 라이브러리

In [6]:
from datetime import datetime

date = datetime.now()

date.month

2

In [10]:
import random

def roll_dice() :
  return random.randint(1,6)

def play_game() :
  user_roll = roll_dice()
  computer_roll = roll_dice()

  print(f"당신의 주사위 : {user_roll}")
  print(f"컴퓨터의 주사위 : {computer_roll}")

  if user_roll > computer_roll :
    print("당신의 주사위가 더 높습니다.")
  elif user_roll < computer_roll :
    print(" 컴퓨터가 이겼습니다.")
  else :
    print(" 비겼습니다. ")

In [12]:
play_game()

당신의 주사위 : 6
컴퓨터의 주사위 : 3
당신의 주사위가 더 높습니다.

### 파이썬 통계 프로그래밍 : Numpy

- Numpy는 파이썬의 수치 연산 라이브러리로 배열과 행렬 연산을 간편하게 수행할 수 있는 도구입니다.
- Numpy를 사용하면 수학적 연산과 데이터 분석을 파이썬에서 효율적으로 처리할 수 있습니다.

In [14]:
#Numpy 를 이용해 배열을 생성해봅시다.
#해당 배열의 모든 원소를 2배로 곱하는 연산을 진행합니다.

import numpy as np

arr = np.array([1,3,5,7,9])

result = arr * 2

In [15]:
result

array([ 2,  6, 10, 14, 18])

In [16]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
#복잡한 작업
# NumPy 는 이미지 처리도 가능합니다.

import numpy as np
import cv2

image = cv2.imread('')